_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
.terraform
tfplan
terraform.tfstate.backup
terraform.tfstate
.terraform.tfstate.lock.info
.terraform.lock.hcl
.DS_Store
terraform/bucket.json
#just testing the pipeline to see what I need to fix on my workfile